Spot excess.json
[{"id":"b986d298710d9da5","type":"tab","label":"SPOT Excess Control","disabled":false,"info":"### Auto control according to SPOT prices\r\n\r\n - Tick each 15 minutes (+ 5 sec. delay to be sure to catch the current hour frame at SPOT prices provider).\r\n - Load spot prices from DeltaGreen.\r\n - Evaluate current price according to the treshold. The treshold is stored in flow.spotTresholdPrice (1.05 CZK/kWh by default).\r\n - Turn On/Off the Venus Feeding excess DC PV into grid according the treshold.\r\n\r\n### Manual control \r\n- Just turn On/Off the Venus Feeding excess DC PV into grid according the manual settings.\r\n\r\n### Prerequisites\r\nNode-RED custom libraries:\r\n\r\n. Node-red dashboard\r\n\tnode-red-dashboard\r\n\thttps://flows.nodered.org/node/node-red-dashboard\r\n\t\r\n. cronplus\r\n\tnode-red-contrib-cron-plus\r\n\thttps://flows.nodered.org/node/node-red-contrib-cron-plus\r\n\t\r\n. config\r\n\tnode-red-contrib-config\r\n\thttps://flows.nodered.org/node/node-red-contrib-config\r\n\r\n#### Other used nodes:\r\n. Modern Dark Theme for node-red-dashboard\r\n\thttps://flows.nodered.org/flow/eb9a4d44f72b0755aa3e14055fb3eacb\r\n\r\n-- by Petr Krivanek","env":[]},{"id":"f5e086d890235524","type":"group","z":"b986d298710d9da5","name":"GUI","style":{"stroke":"#0070c0","label":true},"nodes":["ad45e2698cf99e24","31e526f3dcbd2b2a","8a79a9c6f5c85868","7a2eeb482b9cbe62","1ae91cfd06369250","908261638ccf1e55","de66aa6efcb15dc6","a708749a8e646b4a","705752086f20c2d3","09a53882657c4e30","87800bcb57bbac7c","c921d96c32e2b374","478db96ede6b4eeb","00e3332718f1fb18","1db784292fee2f8c","2a8fd40ea60a737c","a8a32fb117d92c32","cea817d360735473","4ff7e4e11603bee6","8558f0f77e96cb5a","7bda31fe4ba0952e","3c256b0c2c5cf041","21abdd755901e7d6","80a7cf7b363dab3b","10baced6a3af0cc5","d7f153bba22585fe","8e8aa02da012d06f","ca46aa4588d150d2","ca8126a988331abd","9e5c8ff6b83da70b","efcfb2b06b344528"],"x":394,"y":259,"w":1812,"h":362},{"id":"5ece208427d51524","type":"group","z":"b986d298710d9da5","name":"Victron Venus settings status monitor","style":{"label":true},"nodes":["e30fb63eea32171a","d4ef1b7263f1f0c7","e206cc31a3e05c0f","d0c4a942cea93b17","bf176b832b69029b","a7c9a71f65ceaf0c","16d87f0ccdd6c314"],"x":394,"y":19,"w":1012,"h":182},{"id":"b42fb09a89761abc","type":"group","z":"b986d298710d9da5","name":"Load SPOT price, evaluate the treshold price & set feed DC excess on/off","style":{"label":true},"nodes":["2d331a50b0d61710","d153678c838836aa","69c7de9f81adb70d","16f96aa183feec96","b5253809c21b8037","76540fe7bea2088e","b70c9a8e3f33594d","af6a1b22fa66ca61","6afe56d4c5c50f09","a88a073590cbaefb","3d65f37d8a26e370","64105c5a3b20bb19","ad3b7d4443f6b79e","13ea6ca0b9ca3e03","56dc9731dc569a6e","94da292e68864339","e418a527df65e767","bb98cb7e8515fb25","75ac1831bb5e13e0","a7a9fcb365020e85","76a8d8c71ef25fc8","5ce3d905b124c09d","f96e7d2a877f8124","a434319c79a45492","117c2520b271ab18","9679043aa5a0ea06","676afd925d5b648d","7d7464fe9484e0f6","72bd0d32330d7d03","c60a9ac990ba9e7d","eb362dbf5cb8c3dc"],"x":394,"y":759,"w":2278,"h":882},{"id":"6afe56d4c5c50f09","type":"group","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"Feed excess into grid controller","style":{"label":true},"nodes":["d9545a6a716110e3","979b2cd3a2d32a1c","97928786c1d48c08","0d44dd6d38814285","0b71411afdd5e03d","330ebfad7b1889cf","f4e1cf3a0ee52e37"],"x":1874,"y":1319,"w":772,"h":202},{"id":"d9545a6a716110e3","type":"change","z":"b986d298710d9da5","g":"6afe56d4c5c50f09","name":"set = 0 (Don’t feed excess DC)","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2030,"y":1360,"wires":[["0d44dd6d38814285","0b71411afdd5e03d"]]},{"id":"979b2cd3a2d32a1c","type":"change","z":"b986d298710d9da5","g":"6afe56d4c5c50f09","name":"set = 1 (Feed excess DC)","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2010,"y":1420,"wires":[["97928786c1d48c08","0b71411afdd5e03d"]]},{"id":"85e88bf9b09d69e4","type":"cronplus","z":"b986d298710d9da5","name":"Each 15 min","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"Schedule 1","topic":"Tick each 15min","payloadType":"default","payload":"","expressionType":"cron","expression":"0 */15 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":70,"y":960,"wires":[["c5864e157a733b8f"]]},{"id":"c5864e157a733b8f","type":"delay","z":"b986d298710d9da5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":260,"y":960,"wires":[["2d331a50b0d61710"]]},{"id":"2d331a50b0d61710","type":"http request","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"http SPOT request","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://moje.deltagreen.cz/api/prices/daily","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":510,"y":960,"wires":[["d153678c838836aa"]]},{"id":"d153678c838836aa","type":"json","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"SPOT Data","property":"payload","action":"","pretty":true,"x":690,"y":960,"wires":[["94da292e68864339","a88a073590cbaefb","64105c5a3b20bb19","ad3b7d4443f6b79e","a7a9fcb365020e85","72bd0d32330d7d03","c60a9ac990ba9e7d"]]},{"id":"69c7de9f81adb70d","type":"switch","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"","property":"payload.currentPrice","propertyType":"msg","rules":[{"t":"lt","v":"spotTresholdPrice","vt":"flow"},{"t":"gte","v":"spotTresholdPrice","vt":"flow"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":1290,"y":1420,"wires":[["d9545a6a716110e3"],["979b2cd3a2d32a1c"],["b70c9a8e3f33594d"]]},{"id":"56dc9731dc569a6e","type":"change","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"red color","rules":[{"t":"set","p":"fcolor","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"isSpotAutoCtrlEnabled","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":800,"wires":[["e418a527df65e767"]]},{"id":"94da292e68864339","type":"switch","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"","property":"payload.currentPrice","propertyType":"msg","rules":[{"t":"lt","v":"spotTresholdPrice","vt":"flow"},{"t":"gte","v":"spotTresholdPrice","vt":"flow"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":930,"y":860,"wires":[["56dc9731dc569a6e"],["bb98cb7e8515fb25"],["f96e7d2a877f8124"]]},{"id":"e418a527df65e767","type":"ui_text","z":"b986d298710d9da5","g":"b42fb09a89761abc","group":"6bdf3420903b72e3","order":4,"width":6,"height":1,"name":"","label":"Aktuální SPOT cena","format":"<font color={{msg.fcolor}}>{{msg.payload.currentPrice | number:2}} Kč/kWh","layout":"row-spread","className":"Indicator_ActualSpotCena","style":false,"font":"","fontSize":"","color":"#000000","x":1640,"y":840,"wires":[]},{"id":"bb98cb7e8515fb25","type":"change","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"green color","rules":[{"t":"set","p":"fcolor","pt":"msg","to":"limegreen","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"isSpotAutoCtrlEnabled","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":840,"wires":[["e418a527df65e767"]]},{"id":"ad45e2698cf99e24","type":"change","z":"b986d298710d9da5","g":"f5e086d890235524","name":"Set isSpotAutoCtrlEnabled","rules":[{"t":"set","p":"isSpotAutoCtrlEnabled","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":300,"wires":[["2d331a50b0d61710","908261638ccf1e55"]]},{"id":"3d65f37d8a26e370","type":"debug","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"Break spot auto setting process - Feeding auto ctrl DISABLED.","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1450,"y":1260,"wires":[]},{"id":"aff8246490c0e5c9","type":"inject","z":"b986d298710d9da5","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":260,"wires":[["b1d0b2f4a481604a","6d1517ea8198a4a6"]]},{"id":"b1d0b2f4a481604a","type":"config","z":"b986d298710d9da5","name":"Config","properties":[{"p":"spotTresholdPrice","pt":"flow","to":"1.04","tot":"num"},{"p":"isSpotAutoCtrlEnabled","pt":"flow","to":"true","tot":"bool"},{"p":"nGridConsumptionEnable","pt":"global","to":"false","tot":"bool"},{"p":"nSetGridValue","pt":"global","to":"-100","tot":"str"},{"p":"switchDelayCharging","pt":"global","to":"false","tot":"str"},{"p":"tDefaultTimeStart","pt":"global","to":"05:00","tot":"str"},{"p":"tDefaultTimeStop","pt":"global","to":"06:00","tot":"str"},{"p":"Time_Zone","pt":"global","to":"2","tot":"str"}],"active":true,"x":290,"y":220,"wires":[]},{"id":"6d1517ea8198a4a6","type":"delay","z":"b986d298710d9da5","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":280,"y":300,"wires":[["8a79a9c6f5c85868","de66aa6efcb15dc6","c921d96c32e2b374","3c256b0c2c5cf041","21abdd755901e7d6"]]},{"id":"31e526f3dcbd2b2a","type":"ui_switch","z":"b986d298710d9da5","g":"f5e086d890235524","name":"Automaticky","label":"Automaticky podle SPOTu","tooltip":"","group":"6bdf3420903b72e3","order":2,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"Switch_Spot","x":630,"y":300,"wires":[["ad45e2698cf99e24"]]},{"id":"8a79a9c6f5c85868","type":"change","z":"b986d298710d9da5","g":"f5e086d890235524","name":"Set UI","rules":[{"t":"set","p":"payload","pt":"msg","to":"isSpotAutoCtrlEnabled","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":300,"wires":[["31e526f3dcbd2b2a"]]},{"id":"16f96aa183feec96","type":"ui_text","z":"b986d298710d9da5","g":"b42fb09a89761abc","group":"6bdf3420903b72e3","order":3,"width":6,"height":1,"name":"","label":"Připojení na SPOT","format":"<font color={{msg.fcolor}}>{{msg.payload}}","layout":"row-spread","className":"Indicator_Online","style":false,"font":"","fontSize":16,"color":"#000000","x":1750,"y":1560,"wires":[]},{"id":"b5253809c21b8037","type":"debug","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"ERROR IN SPOT REQUEST","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1780,"y":1600,"wires":[]},{"id":"76540fe7bea2088e","type":"change","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"Set UI Http Active","rules":[{"t":"set","p":"payload","pt":"msg","to":"AKTIVNÍ","tot":"str"},{"t":"set","p":"fcolor","pt":"msg","to":"limegreen","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"isSpotAutoCtrlEnabled","tot":"flow"},{"t":"set","p":"isSpotAutoCtrlEnabled","pt":"global","to":"isSpotAutoCtrlEnabled","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":1560,"wires":[["16f96aa183feec96"]]},{"id":"b70c9a8e3f33594d","type":"change","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"Set UI Http Error","rules":[{"t":"set","p":"payload","pt":"msg","to":"SELHALO","tot":"str"},{"t":"set","p":"fcolor","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"isSpotAutoCtrlEnabled","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":1600,"wires":[["16f96aa183feec96","b5253809c21b8037"]]},{"id":"af6a1b22fa66ca61","type":"catch","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"","scope":["2d331a50b0d61710","d153678c838836aa"],"uncaught":false,"x":1130,"y":1600,"wires":[["b70c9a8e3f33594d"]]},{"id":"e30fb63eea32171a","type":"change","z":"b986d298710d9da5","g":"5ece208427d51524","name":"Set UI (ON)","rules":[{"t":"set","p":"payload","pt":"msg","to":"POVOLENY","tot":"str"},{"t":"set","p":"fcolor","pt":"msg","to":"limegreen","tot":"str"},{"t":"set","p":"nPretoky","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":100,"wires":[["e206cc31a3e05c0f"]]},{"id":"d4ef1b7263f1f0c7","type":"switch","z":"b986d298710d9da5","g":"5ece208427d51524","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":80,"wires":[["d0c4a942cea93b17"],["e30fb63eea32171a"]]},{"id":"e206cc31a3e05c0f","type":"ui_text","z":"b986d298710d9da5","g":"5ece208427d51524","group":"6bdf3420903b72e3","order":1,"width":6,"height":1,"name":"","label":"Přetoky","format":"<font color={{fcolor}}>{{msg.payload}}","layout":"row-spread","className":"Kulati_Nahore","style":false,"font":"","fontSize":16,"color":"#000000","x":1320,"y":80,"wires":[]},{"id":"d0c4a942cea93b17","type":"change","z":"b986d298710d9da5","g":"5ece208427d51524","name":"Set UI (OFF)","rules":[{"t":"set","p":"payload","pt":"msg","to":"ZAKÁZÁNY","tot":"str"},{"t":"set","p":"fcolor","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"nPretoky","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":60,"wires":[["e206cc31a3e05c0f"]]},{"id":"97928786c1d48c08","type":"debug","z":"b986d298710d9da5","g":"6afe56d4c5c50f09","name":"Feed excess ON, SPOT >= treshold","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":2390,"y":1480,"wires":[]},{"id":"0d44dd6d38814285","type":"debug","z":"b986d298710d9da5","g":"6afe56d4c5c50f09","name":"Feed excess OFF, SPOT < treshold","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":2380,"y":1360,"wires":[]},{"id":"13ea6ca0b9ca3e03","type":"ui_chart","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"","group":"7d718c13f8419912","order":2,"width":6,"height":6,"label":"Dnešní SPOT","chartType":"line","legend":"true","xformat":"HH","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#ff8800","#55ff55","#eea5a5","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"Kulati_Dole","x":1620,"y":1040,"wires":[[]]},{"id":"ad3b7d4443f6b79e","type":"function","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"Prepare tomorrow chart data","func":"/*\n    Prepare data for tomorrow spot prices chart. Display line with the\n    current spot prices and spot treshold line.\n*/\n\nif (\"tomorrowHourlyPrices\" in msg.payload) {\n    var line1 = [];\n    var line2 = [];\n    var date = new Date();\n    var sDate = date.toLocaleString(\"cs-CZ\", { timeZone: \"Europe/Prague\" });\n    //node.warn(sDate); \n\n    var oDate_CZ = parseCzechDateString(removeSpacesAroundDots(sDate));\n    //node.warn(sDate);\n    //node.warn(oDate_CZ);\n    var spotTresholdPrice = flow.get(\"spotTresholdPrice\");\n    var hourlyPrices = msg.payload.tomorrowHourlyPrices;\n\n    var minPrice = Math.min(...hourlyPrices);\n    var maxPrice = Math.max(...hourlyPrices);\n\n    for (var i = 0; i < 24; i++) {\n        // Reset date to ensure each point starts from midnight\n        oDate_CZ.setUTCHours(0, 0, 0, 0);\n        oDate_CZ.setUTCHours(oDate_CZ.getHours() + i);\n        // spot price\n        line1[i] = { \"x\": oDate_CZ.getTime(), \"y\": hourlyPrices[i] };\n        // spot treshold\n        line2[i] = { \"x\": oDate_CZ.getTime(), \"y\": spotTresholdPrice };\n    }\n\n    // Reset date to ensure the last point is set correctly\n    oDate_CZ.setUTCHours(23, 59, 59, 999);\n    // add one more point to finish chart line\n    line1[24] = { \"x\": oDate_CZ.getTime(), \"y\": hourlyPrices[23] };\n    line2[24] = { \"x\": oDate_CZ.getTime(), \"y\": spotTresholdPrice };\n\n    msg.payload = [{\n        \"series\": [\"Kč/kWh\", \"Spot limit\"],\n        \"data\": [line1, line2]\n    }];\n\n    msg.minmax = minPrice.toFixed(2) + \" | \" + maxPrice.toFixed(2);\n} else {\n    // clear chart data to reset, data not available\n    msg.payload = [];\n}\n\nreturn msg;\n\nfunction removeSpacesAroundDots(inputString) {\n    return inputString.replace(/ \\. /g, '.').replace(/\\. /g, '.').replace(/ \\./g, '.');\n}\n\nfunction parseCzechDateString(dateString) {//prevod string to date object\n    var parts = dateString.split(' ');\n    var dateParts = parts[0].split('.');\n    var timeParts = parts[1].split(':');\n\n    var date = new Date(\n        parseInt(dateParts[2], 10), // rok\n        parseInt(dateParts[1], 10) - 1, // měsíc (od 0 do 11)\n        parseInt(dateParts[0], 10), // den\n        parseInt(timeParts[0], 10), // hodina\n        parseInt(timeParts[1], 10), // minuta\n        parseInt(timeParts[2], 10) // sekunda\n    );\n\n    return date;\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":1120,"wires":[["75ac1831bb5e13e0","117c2520b271ab18"]]},{"id":"a88a073590cbaefb","type":"switch","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"isSpotAutoCtrlEnabled","property":"isSpotAutoCtrlEnabled","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1060,"y":1280,"wires":[["3d65f37d8a26e370"],["69c7de9f81adb70d"]]},{"id":"64105c5a3b20bb19","type":"function","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"Prepare today chart data","func":"/*\nif(\"todayHourlyPrices\" in msg.payload) \n{ \n    var line1 = [];\n    var line2 = [];\n    var currentTimeLine = [];\n    var date = new Date();\n    //date.toLocaleString(\"cs-CZ\", { timeZone: \"Europe/Prague\" });\n    //currentDate.toLocaleString(\"cs-CZ\", { timeZone: \"Europe/Prague\" });\n    \n\n    //date = new Date(date.toLocaleString(\"cs-CZ\", { timeZone: \"Europe/Prague\" }));\n\n\n    \n    var spotTresholdPrice = flow.get(\"spotTresholdPrice\");\n    var hourlyPrices = msg.payload.todayHourlyPrices;\n    \n    var currPrice = hourlyPrices[date.getHours()];\n    var minPrice = Math.min(...hourlyPrices);\n    var maxPrice = Math.max(...hourlyPrices);\n    \n    for(var i=0; i<24;)\n    {\n        // spot price\n        line1[i] = { \"x\": date.setHours(i,0,0), \"y\": hourlyPrices[i] };\n        // spot treshold\n        line2[i] = { \"x\": date.setHours(i,0,0), \"y\": spotTresholdPrice };\n        i++;\n    }\n          \n    // add one more point to finish chart line\n    line1[24] = { \"x\": date.setHours(23,59,59), \"y\": hourlyPrices[23] };\n    line2[24] = { \"x\": date.setHours(23,59,59), \"y\": spotTresholdPrice };\n        \n    // current time line marker\n    var currentDate = new Date();\n    //currentDate = new Date(currentDate.toLocaleString(\"cs-CZ\", { timeZone: \"Europe/Prague\" }));\n\n    currentTimeLine[0] = { \"x\": currentDate, \"y\": currPrice };\n    currentTimeLine[1] = { \"x\": currentDate, \"y\": ((minPrice < spotTresholdPrice) ? minPrice : spotTresholdPrice) - 0.1 };\n    currentTimeLine[2] = { \"x\": currentDate, \"y\": ((maxPrice > spotTresholdPrice) ? maxPrice : spotTresholdPrice) + 0.1};\n\n    msg.payload = [{\n        \"series\": [\"Kč/kWh\", \"Spot limit\", \"Aktuálně\"],\n        \"data\": [line1, line2, currentTimeLine]\n    }];\n    \n    msg.minmax = minPrice.toFixed(2) + \" | \" + maxPrice.toFixed(2);\n}\nelse\n{\n    // clear chart data to reset, data not available\n    msg.payload = [];\n}\n\nreturn msg;\n*/\nif(\"todayHourlyPrices\" in msg.payload) \n{ \n    var line1 = [];\n    var line2 = [];\n    var currentTimeLine = [];\n    var date = new Date();\n    var sDate = date.toLocaleString(\"cs-CZ\", { timeZone: \"Europe/Prague\" });\n    //node.warn(sDate); \n\n    var oDate_CZ = parseCzechDateString(removeSpacesAroundDots(sDate));\n    //node.warn(sDate);\n    //node.warn(oDate_CZ); \n\n\n    \n    var spotTresholdPrice = flow.get(\"spotTresholdPrice\");\n    var hourlyPrices = msg.payload.todayHourlyPrices;\n    \n    var currPrice = hourlyPrices[oDate_CZ.getUTCHours()];\n    var minPrice = Math.min(...hourlyPrices);\n    var maxPrice = Math.max(...hourlyPrices);\n    \n    for(var i=0; i<24;)\n    {\n        // spot price\n        line1[i] = { \"x\": oDate_CZ.setUTCHours(i,0,0), \"y\": hourlyPrices[i] };\n        // spot treshold\n        line2[i] = { \"x\": oDate_CZ.setUTCHours(i,0,0), \"y\": spotTresholdPrice };\n        i++;\n    }\n          \n    // add one more point to finish chart line\n    line1[24] = { \"x\": oDate_CZ.setUTCHours(23,59,59), \"y\": hourlyPrices[23] };\n    line2[24] = { \"x\": oDate_CZ.setUTCHours(23,59,59), \"y\": spotTresholdPrice };\n        \n    // current time line marker\n    var currentDate = new Date();\n    var sCZ_TIME = currentDate.toLocaleString(\"cs-CZ\", { timeZone: \"Europe/Prague\" });\n    //node.warn(sCZ_TIME); \n\n    var oDatum = parseCzechDateString(removeSpacesAroundDots(sCZ_TIME));\n    //node.warn(sCZ_TIME);\n    //node.warn(oDatum); \n    currentTimeLine[0] = { \"x\": oDatum, \"y\": currPrice };\n    currentTimeLine[1] = { \"x\": oDatum, \"y\": ((minPrice < spotTresholdPrice) ? minPrice : spotTresholdPrice) - 0.1 };\n    currentTimeLine[2] = { \"x\": oDatum, \"y\": ((maxPrice > spotTresholdPrice) ? maxPrice : spotTresholdPrice) + 0.1};\n\n    msg.payload = [{\n        \"series\": [\"Kč/kWh\", \"Spot limit\", \"Aktuálně\"],\n        \"data\": [line1, line2, currentTimeLine]\n    }];\n    \n    msg.minmax = minPrice.toFixed(2) + \" | \" + maxPrice.toFixed(2);\n}\nelse\n{\n    // clear chart data to reset, data not available\n    msg.payload = [];\n}\n\nreturn msg;\n\nfunction removeSpacesAroundDots(inputString) {\n    return inputString.replace(/ \\. /g, '.').replace(/\\. /g, '.').replace(/ \\./g, '.');\n}\n\nfunction parseCzechDateString(dateString) {//prevod string to date object\n    var parts = dateString.split(' ');\n    var dateParts = parts[0].split('.');\n    var timeParts = parts[1].split(':');\n\n    var date = new Date(\n        parseInt(dateParts[2], 10), // rok\n        parseInt(dateParts[1], 10) - 1, // měsíc (od 0 do 11)\n        parseInt(dateParts[0], 10), // den\n        parseInt(timeParts[0], 10), // hodina\n        parseInt(timeParts[1], 10), // minuta\n        parseInt(timeParts[2], 10) // sekunda\n    );\n\n    return date;\n}\n\nvar datum = parseCzechDateString(\"17.06.2024 18:38:19\");\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":1060,"wires":[["13ea6ca0b9ca3e03","a434319c79a45492"]]},{"id":"75ac1831bb5e13e0","type":"ui_chart","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"","group":"7d718c13f8419912","order":5,"width":6,"height":6,"label":"Zítřejší SPOT","chartType":"line","legend":"true","xformat":"HH","interpolate":"step","nodata":"- nedostupná data -","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#04cece","#aaff55","#17e6f7","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"Kulati_Dole","x":1620,"y":1140,"wires":[[]]},{"id":"a7a9fcb365020e85","type":"switch","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"Check valid SPOT data","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"currentPrice","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1070,"y":1540,"wires":[["76540fe7bea2088e"],["b70c9a8e3f33594d"]]},{"id":"76a8d8c71ef25fc8","type":"catch","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"","scope":["2d331a50b0d61710","d153678c838836aa"],"uncaught":false,"x":930,"y":920,"wires":[["5ce3d905b124c09d","f96e7d2a877f8124","9679043aa5a0ea06"]]},{"id":"5ce3d905b124c09d","type":"function","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"Reset chart data","func":"// reset chart data\nmsg.minmax = \"---\";\nmsg.payload = [];\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":1000,"wires":[["75ac1831bb5e13e0","a434319c79a45492","117c2520b271ab18","13ea6ca0b9ca3e03"]]},{"id":"f96e7d2a877f8124","type":"function","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"Reset data","func":"// reset data\nmsg.fcolor = \"grey\";\nmsg.enabled = flow.get(\"isSpotAutoCtrlEnabled\");\nmsg.payload = {\"currentPrice\": \"---\"};\n    \nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":880,"wires":[["e418a527df65e767"]]},{"id":"7a2eeb482b9cbe62","type":"ui_numeric","z":"b986d298710d9da5","g":"f5e086d890235524","name":"","label":"Limitní cena","tooltip":"","group":"6bdf3420903b72e3","order":5,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value | number:2}} Kč/kWh","min":"-100","max":"100","step":"0.01","className":"Input_LimitCena","x":1290,"y":340,"wires":[["1ae91cfd06369250"]]},{"id":"1ae91cfd06369250","type":"change","z":"b986d298710d9da5","g":"f5e086d890235524","name":"Set spotTresholdPrice","rules":[{"t":"set","p":"spotTresholdPrice","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"spotTresholdPrice","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1660,"y":340,"wires":[["2d331a50b0d61710"]]},{"id":"a434319c79a45492","type":"ui_text","z":"b986d298710d9da5","g":"b42fb09a89761abc","group":"7d718c13f8419912","order":1,"width":6,"height":1,"name":"Today Min/Max","label":"Dnes:  Min / Max","format":"{{msg.minmax}} Kč/kWh","layout":"row-left","className":"Kulati_Nahore","style":false,"font":"","fontSize":16,"color":"#000000","x":1620,"y":1000,"wires":[]},{"id":"117c2520b271ab18","type":"ui_text","z":"b986d298710d9da5","g":"b42fb09a89761abc","group":"7d718c13f8419912","order":4,"width":6,"height":1,"name":"Tomorrow Min/Max","label":"Zítra:  Min / Max","format":"{{msg.minmax}} Kč/kWh","layout":"row-spread","className":"Kulati_Nahore","style":false,"font":"","fontSize":16,"color":"#000000","x":1630,"y":1100,"wires":[]},{"id":"9679043aa5a0ea06","type":"debug","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"Http error - reset UI data","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1190,"y":920,"wires":[]},{"id":"676afd925d5b648d","type":"function","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"Setup charts ui options","func":"/* \n    Format charts - axes, units, colors, etc...\n*/    \n\nmsg.ui_control = {\n    options: {\n        legend: {\n            display: true\n        },\n        scales: {\n            xAxes: [{\n                type: 'time',\n                time: {\n                    unit: 'hour',\n                    unitStepSize: 2,\n                    displayFormats: {\n                        hour: 'HH',\n                    }\n                },\n                position:'bottom',\n                gridLines:{\n                    color:'rgba(70, 70, 70, 0.5)',\n                    zeroLineColor: 'rgba(70, 70, 70, 0.75)'\n                }\n            }],\n            yAxes: [{\n                gridLines:{\n                    color:'rgba(70, 70, 70, 0.5)',\n                    zeroLineColor: 'rgba(125, 125, 125, 0.75)'\n                }\n            }]\n       }\n       \n    }\n}\n\ndelete msg.payload\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":920,"wires":[[]]},{"id":"7d7464fe9484e0f6","type":"inject","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"Init call","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1440,"y":920,"wires":[["676afd925d5b648d"]]},{"id":"908261638ccf1e55","type":"change","z":"b986d298710d9da5","g":"f5e086d890235524","name":"Set UI","rules":[{"t":"set","p":"payload","pt":"msg","to":"spotTresholdPrice","tot":"flow"},{"t":"set","p":"enabled","pt":"msg","to":"isSpotAutoCtrlEnabled","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":340,"wires":[["7a2eeb482b9cbe62"]]},{"id":"bf176b832b69029b","type":"modbus-read","z":"b986d298710d9da5","g":"5ece208427d51524","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"showWarnings":true,"unitid":"100","dataType":"HoldingRegister","adr":"2707","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"5e730295abd379ae","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":510,"y":80,"wires":[["d4ef1b7263f1f0c7"],["a7c9a71f65ceaf0c","16d87f0ccdd6c314"]]},{"id":"0b71411afdd5e03d","type":"modbus-write","z":"b986d298710d9da5","g":"6afe56d4c5c50f09","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"100","dataType":"HoldingRegister","adr":"2707","quantity":"1","server":"5e730295abd379ae","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":2320,"y":1420,"wires":[[],["330ebfad7b1889cf"]]},{"id":"a7c9a71f65ceaf0c","type":"debug","z":"b986d298710d9da5","g":"5ece208427d51524","name":"debug READ","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":690,"y":160,"wires":[]},{"id":"f4e1cf3a0ee52e37","type":"ui_switch","z":"b986d298710d9da5","g":"6afe56d4c5c50f09","name":"","label":"Přetoky: Zap / Vyp","tooltip":"","group":"6bdf3420903b72e3","order":7,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"Kulati_Dole","x":1990,"y":1480,"wires":[["0b71411afdd5e03d"]]},{"id":"16d87f0ccdd6c314","type":"modbus-response","z":"b986d298710d9da5","g":"5ece208427d51524","name":"","registerShowMax":"5","x":930,"y":160,"wires":[]},{"id":"330ebfad7b1889cf","type":"modbus-response","z":"b986d298710d9da5","g":"6afe56d4c5c50f09","name":"","registerShowMax":"5","x":2530,"y":1420,"wires":[]},{"id":"de66aa6efcb15dc6","type":"ui_switch","z":"b986d298710d9da5","g":"f5e086d890235524","name":"Set Point SWITCH","label":"Zap/Vyp AcPowerSetPoint","tooltip":"","group":"b1eb05edab318eb0","order":2,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"Switch_GridPoint","x":610,"y":380,"wires":[["a708749a8e646b4a"]],"info":"AcPowerSetPoint"},{"id":"a708749a8e646b4a","type":"change","z":"b986d298710d9da5","g":"f5e086d890235524","name":"Set nGridConsumptionEnable","rules":[{"t":"set","p":"nGridConsumptionEnable","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":380,"wires":[["705752086f20c2d3"]]},{"id":"705752086f20c2d3","type":"change","z":"b986d298710d9da5","g":"f5e086d890235524","name":"Set UI","rules":[{"t":"set","p":"enabled","pt":"msg","to":"nGridConsumptionEnable","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"nSetGridValue","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":380,"wires":[["09a53882657c4e30"]]},{"id":"09a53882657c4e30","type":"ui_numeric","z":"b986d298710d9da5","g":"f5e086d890235524","name":"","label":"AcPowerSetPoint","tooltip":"","group":"b1eb05edab318eb0","order":3,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value | number:0}} W","min":"-1000","max":"1000","step":"10","className":"Kulati_Dole","x":1310,"y":380,"wires":[["87800bcb57bbac7c"]]},{"id":"87800bcb57bbac7c","type":"change","z":"b986d298710d9da5","g":"f5e086d890235524","name":"Set nGridValue","rules":[{"t":"set","p":"nSetGridValue","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":380,"wires":[[]]},{"id":"72bd0d32330d7d03","type":"change","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"Data To Set Global","rules":[{"t":"set","p":"currentPrice","pt":"global","to":"payload.currentPrice","tot":"msg"},{"t":"set","p":"isSpotAutoCtrlEnabled","pt":"global","to":"isSpotAutoCtrlEnabled","tot":"flow"},{"t":"set","p":"payload.todayHourlyPrices","pt":"msg","to":"todayHourlyPrices","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":1340,"wires":[[]],"info":"Předani dat do globalnich promennych"},{"id":"c921d96c32e2b374","type":"ui_switch","z":"b986d298710d9da5","g":"f5e086d890235524","name":"delayCharging","label":"Posunutí nabíjení Baterie","tooltip":"","group":"b1eb05edab318eb0","order":5,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"className":"Kulati_Nahore","x":620,"y":440,"wires":[["478db96ede6b4eeb"]]},{"id":"478db96ede6b4eeb","type":"change","z":"b986d298710d9da5","g":"f5e086d890235524","name":"Set switchDelayCharging","rules":[{"t":"set","p":"switchDelayCharging","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":440,"wires":[["2a8fd40ea60a737c","a8a32fb117d92c32"]]},{"id":"00e3332718f1fb18","type":"ui_text_input","z":"b986d298710d9da5","g":"f5e086d890235524","name":"","label":"Začate posunutí nabíjení baterie","tooltip":"","group":"b1eb05edab318eb0","order":6,"width":6,"height":2,"passthru":true,"mode":"time","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":1350,"y":440,"wires":[["cea817d360735473"]]},{"id":"1db784292fee2f8c","type":"ui_text_input","z":"b986d298710d9da5","g":"f5e086d890235524","name":"","label":"Konec posunutí nabíjení baterie","tooltip":"","group":"b1eb05edab318eb0","order":7,"width":6,"height":2,"passthru":true,"mode":"time","delay":300,"topic":"topic","sendOnBlur":true,"className":"Kulati_Dole","topicType":"msg","x":1350,"y":480,"wires":[["4ff7e4e11603bee6"]]},{"id":"2a8fd40ea60a737c","type":"change","z":"b986d298710d9da5","g":"f5e086d890235524","name":"Set UI","rules":[{"t":"set","p":"enabled","pt":"msg","to":"switchDelayCharging","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"tStartBattery","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":440,"wires":[["00e3332718f1fb18"]]},{"id":"a8a32fb117d92c32","type":"change","z":"b986d298710d9da5","g":"f5e086d890235524","name":"Set UI","rules":[{"t":"set","p":"enabled","pt":"msg","to":"switchDelayCharging","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"tStopBattery","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":480,"wires":[["1db784292fee2f8c"]]},{"id":"cea817d360735473","type":"change","z":"b986d298710d9da5","g":"f5e086d890235524","name":"Set tStartBattery","rules":[{"t":"set","p":"tStartBattery","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":440,"wires":[["8558f0f77e96cb5a"]]},{"id":"4ff7e4e11603bee6","type":"change","z":"b986d298710d9da5","g":"f5e086d890235524","name":"Set tStopBattery","rules":[{"t":"set","p":"tStopBattery","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":480,"wires":[["8558f0f77e96cb5a"]]},{"id":"8558f0f77e96cb5a","type":"function","z":"b986d298710d9da5","g":"f5e086d890235524","name":"Control Set Time","func":"// Debugging flag\nvar debug = false;  // Nastavte na true pro zapnutí debug zpráv\n\nvar tStartBattery = global.get('tStartBattery');\nvar tStopBattery = global.get('tStopBattery');\nvar currentTime = new Date();\nvar sDate = currentTime.toLocaleString(\"cs-CZ\", { timeZone: \"Europe/Prague\" }); \n\nvar oDate_CZ = sExtractTime(removeSpacesAroundDots(sDate));\n\nvar tStartBatteryTime = mExtractTime(tStartBattery);\nvar tStopBatteryTime = mExtractTime(tStopBattery);\n\nif (tStartBatteryTime && tStopBatteryTime) {\n    if (debug) {\n        node.warn(\"tStartBattery: \" + tStartBatteryTime);\n        node.warn(\"tStopBattery: \" + tStopBatteryTime);\n        node.warn(\"oDate_CZ: \" + oDate_CZ);\n    }\n    if (oDate_CZ >= tStartBatteryTime && oDate_CZ <= tStopBatteryTime) {\n        msg.payload = `Aktuální čas je v rozsahu (${tStartBatteryTime} - ${tStopBatteryTime}).`;\n    } else {\n        msg.payload = `Aktuální čas je mimo rozsah (${tStartBatteryTime} - ${tStopBatteryTime}).`;\n    }\n} else {\n    msg.payload = 'Čas začátku nebo konce není nastaven.';\n}\n\nreturn msg;\n\nfunction removeSpacesAroundDots(inputString) {\n    return inputString.replace(/ \\. /g, '.').replace(/\\. /g, '.').replace(/ \\./g, '.');\n}\n\nfunction sExtractTime(dateString) {//prevod string to date object\n    var parts = dateString.split(' ');\n    var timeParts = parts[1].split(':');\n\n    var date = new Date(\n        2024, // rok\n        6, // měsíc (od 0 do 11)\n        23, // den\n        parseInt(timeParts[0], 10), // hodina\n        parseInt(timeParts[1], 10), // minuta\n        parseInt(timeParts[2], 10) // sekunda\n    );\n\n    return date;\n}\n\nfunction mExtractTime(milliseconds) {\n    var date = new Date(milliseconds);\n    return new Date(\n        2024, // rok\n        6, // měsíc (od 0 do 11)\n        23, // de\n        date.getHours(), // hodina\n        date.getMinutes(), // minuta\n        date.getSeconds(), // sekunda\n        date.getMilliseconds() // milisekunda\n    );\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1890,"y":460,"wires":[["7bda31fe4ba0952e"]]},{"id":"7bda31fe4ba0952e","type":"debug","z":"b986d298710d9da5","g":"f5e086d890235524","name":"debug 8","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":2100,"y":460,"wires":[]},{"id":"3c256b0c2c5cf041","type":"ui_switch","z":"b986d298710d9da5","g":"f5e086d890235524","name":"MorningPeakBatterySales","label":"Prodej baterii - ranní špička","tooltip":"","group":"b1eb05edab318eb0","order":9,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"className":"Kulati_Nahore","x":590,"y":520,"wires":[["80a7cf7b363dab3b"]]},{"id":"21abdd755901e7d6","type":"ui_switch","z":"b986d298710d9da5","g":"f5e086d890235524","name":"EveningPeakBatterySales","label":"Prodej baterii - večerní špička","tooltip":"","group":"b1eb05edab318eb0","order":12,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"className":"Kulati_Nahore","x":590,"y":580,"wires":[["10baced6a3af0cc5"]]},{"id":"80a7cf7b363dab3b","type":"change","z":"b986d298710d9da5","g":"f5e086d890235524","name":"Set MorningPeakBatterySales","rules":[{"t":"set","p":"nMorningPeakBatterySales","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":520,"wires":[["d7f153bba22585fe"]]},{"id":"10baced6a3af0cc5","type":"change","z":"b986d298710d9da5","g":"f5e086d890235524","name":"Set EveningPeakBatterySales","rules":[{"t":"set","p":"nEveningPeakBatterySales","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":580,"wires":[["8e8aa02da012d06f"]]},{"id":"d7f153bba22585fe","type":"change","z":"b986d298710d9da5","g":"f5e086d890235524","name":"Set UI","rules":[{"t":"set","p":"enabled","pt":"msg","to":"nMorningPeakBatterySales","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"nMorningSOC_sales","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":520,"wires":[["ca46aa4588d150d2"]]},{"id":"8e8aa02da012d06f","type":"change","z":"b986d298710d9da5","g":"f5e086d890235524","name":"Set UI","rules":[{"t":"set","p":"enabled","pt":"msg","to":"nEveningPeakBatterySales","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"nEveningSOC_sales","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":580,"wires":[["ca8126a988331abd"]]},{"id":"ca46aa4588d150d2","type":"ui_numeric","z":"b986d298710d9da5","g":"f5e086d890235524","name":"","label":"Prodej Rano do SOC","tooltip":"","group":"b1eb05edab318eb0","order":10,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value | number:0}} %","min":"20","max":"100","step":"1","className":"Kulati_Dole","x":1320,"y":520,"wires":[["9e5c8ff6b83da70b"]]},{"id":"ca8126a988331abd","type":"ui_numeric","z":"b986d298710d9da5","g":"f5e086d890235524","name":"","label":"Prodej Večer do SOC","tooltip":"","group":"b1eb05edab318eb0","order":13,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value | number:0}} %","min":"20","max":"100","step":"1","className":"Kulati_Dole","x":1320,"y":580,"wires":[["efcfb2b06b344528"]]},{"id":"9e5c8ff6b83da70b","type":"change","z":"b986d298710d9da5","g":"f5e086d890235524","name":"Set nMorningSOC_sales","rules":[{"t":"set","p":"nMorningSOC_sales","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1670,"y":520,"wires":[[]]},{"id":"efcfb2b06b344528","type":"change","z":"b986d298710d9da5","g":"f5e086d890235524","name":"Set nEveningSOC_sales","rules":[{"t":"set","p":"nEveningSOC_sales","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1670,"y":580,"wires":[[]]},{"id":"c60a9ac990ba9e7d","type":"function","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"Extract todayHourlyPrices","func":"// Předpokládejme, že váš objekt je v msg.payload\nlet obj = msg.payload;\n\n// Extrahování pole todayHourlyPrices\nlet todayHourlyPrices = obj.todayHourlyPrices;\n\n// Nastavení pole jako nový payload\nmsg.payload = todayHourlyPrices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":1200,"wires":[["eb362dbf5cb8c3dc"]]},{"id":"eb362dbf5cb8c3dc","type":"change","z":"b986d298710d9da5","g":"b42fb09a89761abc","name":"Set Global todayHourlyPrices","rules":[{"t":"set","p":"todayHourlyPrices","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":1200,"wires":[[]]},{"id":"6bdf3420903b72e3","type":"ui_group","name":"Řízení přetoků","tab":"f3a8a67ff0904e39","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"7d718c13f8419912","type":"ui_group","name":"SPOT","tab":"f3a8a67ff0904e39","order":3,"disp":true,"width":"6","collapse":true,"className":""},{"id":"5e730295abd379ae","type":"modbus-client","name":"Cebro GX","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":false,"tcpHost":"192.168.50.200","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":false,"reconnectTimeout":2000,"parallelUnitIdsAllowed":false,"showErrors":false,"showWarnings":true,"showLogs":true},{"id":"b1eb05edab318eb0","type":"ui_group","name":"ESS","tab":"f3a8a67ff0904e39","order":4,"disp":true,"width":"6","collapse":true,"className":""},{"id":"f3a8a67ff0904e39","type":"ui_tab","name":"FVE","icon":"dashboard","order":1,"disabled":false,"hidden":false}]